@media screen and (max-width: 1200px) {
  .footer-bottom {
    grid-template-columns: auto 1fr;
  }
  .footer-center {
    grid-row: 1;
    grid-column: 1/3;
    margin-bottom: 15px;
  }

  .footer-left,
  .footer-right {
    grid-row: 2;
  }

  .footer-right {
    justify-self: end;
  }
}

@media screen and (max-width: 900px) {
  .main-btn {
    height: 28px;
    font-size: 10px;
  }

  .footer-bottom {
    padding: 10px 80px;
  }
  footer,
  .footer-bottom a {
    font-size: 10.8px;
  }

  .footer-bottom a {
    padding: 15px 5px;
  }

  .footer-center {
    padding-bottom: 1rem;
  }

  .footer-center img {
    height: 8px;
    margin-right: 3px;
  }

  .input-container {
    width: 58%;
    height: 34px;
    margin: 1rem 0;
  }
  .input input {
    height: 30px;
  }

  .logo {
    height: 65px;
  }

  .voice-icon {
    height: 20px;
    margin-right: 18px;
  }
  .lens-icon {
    height: 15px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: calc(5px + 0.390625vw);
  }

  .header-container {
    padding-top: 0;
  }

  .dots {
    margin-left: 0;
    padding: 12px 0;
  }

  .dot {
    height: 10px;
  }
  .profile {
    height: 15px;
    width: 14px;
  }

  .main-content-container {
    margin: 10rem 0;
  }

  .logo {
    height: 40px;
  }

  .input-container {
    width: 70%;
    height: 24px;
    margin: 1rem 0;
  }
  .input input {
    height: 20px;
  }

  .voice-icon {
    height: 12px;
    margin-right: 10px;
  }
  .lens-icon {
    height: 8px;
    margin-right: 5px;
  }

  .left-icon {
    height: 10px;
  }

  .main-btn {
    height: 20px;
    font-size: 6.5px;
    padding: 0 8px;
  }

  footer,
  .footer-bottom a {
    font-size: 6.8px;
  }

  .footer-bottom {
    padding: 10px 40px;
  }

  .footer-center {
    padding-bottom: 0;
  }
  .footer-top {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 340px) {
  .footer-bottom {
    padding: 10px 20px;
  }

  .footer-bottom a {
    padding: 15px 3px;
  }
}
