* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(7.5px + 0.390625vw);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative; */
  /* min-height: 100vh; */
  overflow-y: scroll;
}
img {
  max-height: 100%;
}

.header-container {
  /* position: absolute; */
  /* top: 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* padding: 0.8rem; */
  padding-right: 1rem;
}

.header-text {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.header-text:hover {
  text-decoration: underline;
}

.profile-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
}

.profile {
  height: 35px;
  width: 33px;
  border-radius: 50%;
}

.profile-holder:hover {
  background-color: #f2f2f2;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.dots:hover {
  background-color: #f2f2f2;
}

.dot {
  height: 20px;
}

/* ////////// MAIN CONTENT STYLES STARTS HERE ////////// */
.main-content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0.5rem 0 2rem 0;
}

.logo {
  height: 95px;
  /* width: 200px; */
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 638px;
  max-width: 584px;
  position: relative;
  margin: 1.5rem 0;
}

.left-icon,
.right-icon {
  position: absolute;
}

.left-icon {
  left: 1rem;
  height: 15px;
}

.right-icon {
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-icon {
  height: 25px;
  margin-right: 18px;
}
.lens-icon {
  height: 18px;
}
.input {
  width: 90%;
}
.input input {
  height: 34px;
  width: 90%;
  border: none;
  outline: none;
}

.message {
  font-weight: bold;
  padding: 5px 10px;
  color: orangered;
}

.main-btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem;
}

.main-btn:hover {
  border: 1.5px solid #dfe1e5;
}

.languages {
  margin-top: 1rem;
}

.lang {
  color: #4d5156;
}

.languages a {
  padding: 0 5px;
  color: #1a0dab;
  text-decoration: none;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f2f2f2;
  color: #70757a;
}

.footer-top {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.footer-center img {
  height: 13px;
  margin-right: 5px;
}

.footer-center {
  justify-self: center;
}
.footer-bottom {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  /* justify-items: s; */
}

.footer-bottom a {
  color: #70757a;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
}
.footer-right {
  justify-self: right;
}

.footer-right a:hover,
.footer-left a:hover {
  text-decoration: underline;
}
